.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 1);
    background: white;
    z-index: 1;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__logo {
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 15px;
    color: #394149;
}

.header__link {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #394149;
}

.header__btn {
    width: 173px;
    height: 50px;
    border: none;
    border-radius: 31px;
    background: #F58A071A;
    color: #F58A07;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: 0px;
    cursor: pointer;
}