.hero {
    margin-top: 100px;
    background: #DCEAF5;
    height: 620px;
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -3%;
    color: #1D3444;
    margin-bottom: 20px;
    width: 540px;
}

.hero__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5B5B5B;
    margin-bottom: 25px;
}

.hero-one__btn {
    width: 199px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background: none;
    color: #1D3444;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.hero-two__btn {
    width: 199px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background: none;
    color: #1D3444;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 107px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-left: 10px;
}

.hero-one__text {
    margin-top: 20px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #39414980;
}

.hero__img {
    width: 850px;
    height: 600px;
    margin-left: -30px;
}

.hero__logotip {
    margin-right: 40px;
    margin-top: 25px;
}

/* ------------------------section------------------------- */
.section {
    margin-top: 70px;
}

.section__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    color: #1D3444;
    width: 735px;
    margin-bottom: 40px;
}

.section__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5B5B5B;
    width: 735px;
    margin-bottom: 60px;
}

.section__item {
    width: 400px;
}

.section__img {
    margin-bottom: 20px;
}

.section-list__title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
    line-height: 107%;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 20px;
}

.section-list__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #5B5B5B;
    margin-bottom: 20px;
}

.section__list {
    display: flex;
    gap: 40px;
}

.section-list__btn {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 107%;
    letter-spacing: 0px;
    color: #F58A07;
    background: none;
    border: none;
}

/* --------------------------feaures------------------ */
.feaures {
    background: #EDF7FF;
    margin-top: 80px;
    height: 660px;
}

.feaures__box {
    display: flex;
    justify-content: space-between;
}

.feaures__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -3%;
    margin-top: 70px;
    color: #0D1317;
    width: 619px;
}

.feaures__text {
    font-family: "Poppin";
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #1D3444;
    width: 530px;
    margin-top: 70px;
}

.feaures__list {
    display: flex;
    gap: 30px;
}

.feaures__item {
    background: #FFFFFF;
    margin-top: 70px;
    padding: 30px;
    border-radius: 20px;
}

.feaures__img {
    margin-bottom: 10px;
}

.feaures-list__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 18px;
}

.feaures-list__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #5B5B5B;
    width: 336px;
}

/* ---------------about------------------- */
.about {
    margin-top: 50px;
}

.about__container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about__title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 20px;
    width: 596px;
}

.about__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #5B5B5B;
    margin-bottom: 40px;
    width: 510px;
}

.about__list {
    display: flex;
    gap: 40px;
}

.about__span {
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #F58A07;
    margin-bottom: 20px;
}

.about-one__text {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 20px;
}

.about-two__text {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #5B5B5B;
    width: 264px;
}

/* -----------------------------services----------------------------- */
.services{
    margin-top: 60px;
}
.services__container{
    background: #EDF7FF;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
}
.services__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 50px;
width: 572px;
}
.services-one__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
margin-bottom: 50px;
width: 510px;
}
.services-two__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
width: 510px;
margin-bottom: 40px;
}
.services__img{
    width: 470px;
    height: 465px;
    margin-top: 14%;
    right: 48%;
    position: relative;
}
.services__lenta{
    /* position: absolute; */
    position: relative;
   margin-top: -51%;
   margin-left: 38%;
}
.services-one__btn {
    width: 160px;
    height: 40px;
    background: none;
    border: solid 1px #A8BCCC;
    border-radius: 30px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-left: 30px;
    color: #0632554D;
    margin-bottom: 70px;
    margin-top: 60px;
    display: inline-block;
}
.services-one__btn:hover{
    background: #FFFFFF;
    color: #F58A07;
    border: none;
}
.services-two__btn{
    border: none;
    background: none;
    color: #F58A07;
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
}
/* -------------------------main------------------------- */
.main{
    margin-top: 60px;
    background: #F58A07;
    height: 350px;
margin-bottom: 60px;
}
.main__container{
    display: flex;
    align-items: center;
}
.main__img{
    width: 700px;
    height: 350px;
    margin-top: -20px;
}
.main__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
color: #FFFFFF;
margin-bottom: 30px;
width: 500px;
margin-left: 60px;
}
.main__btn{
    width: 216px;
    height: 54px;
    border: none;
    background: #FFFFFF;
    color: #F58A07;
    border-radius: 31px;
    font-family: "Poppins";
font-weight: 600;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
text-transform: capitalize;
margin-left: 60px;
}
.main__btn:hover{
    background: #F58A07;
    color: #FFFFFF;
    border: solid 2px #5B5B5B;
}
/* -------------------------------article----------------- */
.article__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
text-transform: capitalize;
color: #0D1317;
width: 560px;
margin-bottom: 30px;
}
.article__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
width: 560px;
margin-bottom: 40px;
}
.article-box__list{
    display: flex;
    align-items: center;
}
.article-box__title{
    font-family: "Poppins";
font-weight: 500;
font-size: 24px;
line-height: 171%;
letter-spacing: 0%;
color: #063255;
margin-left: 15px;
}
.article-box__text{
font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 171%;
letter-spacing: 0%;
color: #F58A07;
margin-left: 15px;
}
.article__img{
    width: 500px;
    height: 400px;
}
/* --------------------------aside------------------------- */
.aside{
    background: #DCEAF5;
    margin-top: 70px;
    height: 830px;
}
.aside__container{
    margin-top: 70px;
}
.aside__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
text-transform: capitalize;
color: #0D1317;
margin-bottom: 50px;
}
.aside__list{
    display: flex;
    gap: 40px;
    margin-top: 70px;
}
.aside__item{
    width: 400px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}
.aside-list__title{
    font-family: "Poppins";
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: -3%;
color: #0D1317;
margin-left: 20px;
margin-bottom: 20px;
}
.aside-list__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #5B5B5B;
width: 336px;
margin-bottom: 20px;
margin-left: 20px;
}
.aside-list__btn{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
color: #F58A07;
border: none;
background: none;
margin-left: 20px;
}