.hero{
    margin-top: 100px;
    background: #DCEAF5;
    height: 620px;
}
.hero__container{
    display: flex;
    align-items: center;
}
.hero__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 64px;
line-height: 72px;
letter-spacing: -3%;
color: #1D3444;
margin-bottom: 20px;
width: 540px;
}
.hero__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
margin-bottom: 25px;
}
.hero-one__btn{
    width: 199px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background: none;
    color: #1D3444;
    font-family: "Poppins";
font-weight: 600;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
text-transform: capitalize;
}
.hero-two__btn{
    width: 199px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background: none;
    color: #1D3444;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 107px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-left: 10px;
}
.hero-one__text{
    margin-top: 20px;
    font-family: "Poppins";
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0px;
color: #39414980;
}
.hero__img{
    width: 850px;
    height: 600px;
    margin-left: -30px;
}
.hero__logotip{
    margin-right: 40px;
    margin-top: 25px;
}
/* ------------------------section------------------------- */
.section{
    margin-top: 70px;
}
.section__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
color: #1D3444;
width: 735px;
margin-bottom: 40px;
}
.section__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
width: 735px;
margin-bottom: 60px;
}
.section__item{
    width: 400px;
}
.section__img{
    margin-bottom: 20px;
}
.section-list__title{
    font-family: "Poppins";
font-weight: 500;
font-size: 24px;
line-height: 107%;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 20px;
}
.section-list__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #5B5B5B;
margin-bottom: 20px;
}
.section__list{
    display: flex;
    gap: 40px;
}
.section-list__btn{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
color: #F58A07;
background: none;
border: none;
}
/* --------------------------feaures------------------ */
.feaures{
    background: #EDF7FF;
    margin-top: 80px;
    height: 660px;
}
.feaures__box{
    display: flex;
    justify-content: space-between;
}
.feaures__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: -3%;
margin-top: 70px;
color: #0D1317;
width: 619px;
}
.feaures__text{
    font-family: "Poppin";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #1D3444;
width: 530px;
margin-top: 70px;
}
.feaures__list{
    display: flex;
    gap: 30px;
}
.feaures__item{
    background: #FFFFFF;
    margin-top: 70px;
    padding: 30px;
    border-radius: 20px;
}
.feaures__img{
    margin-bottom: 10px;
}
.feaures-list__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 24px;
line-height: 107%;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 18px;
}
.feaures-list__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #5B5B5B;
width: 336px;
}
/* ---------------about------------------- */
.about{
    margin-top: 50px;
}
.about__container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.about__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 20px;
width: 596px;
}
.about__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
margin-bottom: 40px;
width: 510px;
}
.about__list{
    display: flex;
    gap: 40px;
}
.about__span{
    font-family: "Inter";
font-weight: 700;
font-size: 36px;
line-height: 50px;
letter-spacing: 0px;
color: #F58A07;
margin-bottom: 20px;
}
.about-one__text{
    font-family: "Poppins";
font-weight: 600;
font-size: 24px;
line-height: 107%;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 20px;
}
.about-two__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #5B5B5B;
width: 264px;
}