.careers-hero{
    margin-top: 100px;
    margin-bottom: 100px;
}
.careers-hero__container{
    display: flex;
    align-items: center;
}
.careers-hero__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 64px;
line-height: 72px;
letter-spacing: -3%;
color: #1D3444;
width: 618px;
margin-bottom: 35px;
}
.careers-hero__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
color: #5B5B5B;
width: 557px;
margin: 25px;
}
.careers-hero__btn{
        width: 170px;
    height: 54px;
    border: none;
    border-radius: 27px;
    background: #F58A07;
    color: #FFFFFF;
    font-family: "Poppins";
font-weight: 600;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
text-transform: capitalize;
cursor: pointer;
}
.careers-hero-one__img{
position: absolute;
}
.careers-hero-two__img{
    position: relative;
    opacity: 0.8;
}
/* ----------------------section----------------------- */
.careers__section{
    margin-bottom: 100px;
}
.careers-section__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
color: #0D1317;
margin-bottom: 50px;
}
.careers-section__list{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.careers-section__item{
    width: 400px;
    height: 180px;
    border-radius: 20px;
    background: #C1E4FF4D;
}
.careers-section-list__title{
    font-family: "Poppins";
font-weight: 500;
font-size: 24px;
line-height: 30px;
letter-spacing: -3%;
color: #0D1317;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
}
.careers-section-list__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: #394149;
margin-bottom: 35px;
margin-left: 30px;
}
.careers-section-list__link{
    font-family: "Poppins";
font-weight: 400;
font-size: 18px;
line-height: 107%;
letter-spacing: 0px;
color: #F58A07;
margin-left: 30px;
}
/* ----------------------aside------------------------ */
.careers__aside{
    background: #DCEAF5;
    height: 850px;
}
.careers-aside{
    background: #DCEAF5;
    margin-top: 70px;
    height: 830px;
}
.careers-aside__container{
    margin-top: 70px;
}
.careers-aside__title{
    font-family: "Poppins";
font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -3%;
text-transform: capitalize;
color: #0D1317;
margin-bottom: 50px;
}
.careers-aside__list{
    display: flex;
    gap: 40px;
    margin-top: 70px;
}
.careers-aside__item{
    width: 400px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}
.careers-aside-list__title{
    font-family: "Poppins";
font-weight: 500;
font-size: 24px;
line-height: 36px;
letter-spacing: -3%;
color: #0D1317;
margin-left: 20px;
margin-bottom: 20px;
}
.careers-aside-list__text{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: #5B5B5B;
width: 336px;
margin-bottom: 20px;
margin-left: 20px;
}
.careers-aside-list__btn{
    font-family: "Poppins";
font-weight: 500;
font-size: 16px;
line-height: 107%;
letter-spacing: 0px;
color: #F58A07;
border: none;
background: none;
margin-left: 20px;
}